body {
  background-color: rgb(204, 204, 204);
}

#player-container {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  margin: 15px;
}

#songs-container {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  margin: 15px;
}
